
h1{background-color: blueviolet; color: burlywood;}
#quienSoy{background-color: aqua; color: black;}
h3{color: brown;}
#fondoAzul{background-color: blue; color: aliceblue;}
#fondoClaro{background-color: rgb(12, 153, 153);}
